<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TelegramBotKey" value="6367612655:AAH8VBioHZrYKkNPOoObXQ6ZsVgzFo9PQ8U"/>
    <add key="ConnectionString" value="Server=localhost;Port=5432;Database=BeatsSenderDb;User Id=postgres;Password=3232;"/>
  </appSettings>
</configuration>